{% extends "base.html" %} {% if request.user %}
<script>
  window.location.replace("/");
</script>
{%endif%}

{% block statics %} {% load static %}
<link href="{% static 'sign.css' %}" rel="stylesheet" /> {% endblock %} 
{% block content %}
<div
  style="
    background-color: white;
    border-radius: 50px;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 3%;
    display: flex;
    height: 600px;
  "
>
  <form
    action="{% url 'signup'%}"
    method="post"
    style="flex: 3; padding: 7%"
    class="align-self-center"
  >
    {% csrf_token %}
    <div class="input-group input-group-lg" style="margin-bottom: 30px; min-width: 40%;">
      <span class="input-group-text" id="inputGroup-sizing-lg">@</span>
      <input
        type="text"
        class="form-control"
        aria-label="Username"
        aria-describedby="inputGroup-sizing-lg"
        placeholder="نام کاربری"
        name="username"
      />
    </div>

    <div class="input-group input-group-lg" style="margin-bottom: 30px; min-width: 40%;">
      <input
      type="text"

        class="form-control"
        aria-describedby="passwordHelpBlock"
        placeholder="نام"
        name="first_name"
      />
    </div>

    <div class="input-group input-group-lg" style="margin-bottom: 30px; min-width: 40%;">
      <input
      type="text"

        class="form-control"
        aria-describedby="passwordHelpBlock"
        placeholder="نام خانوادگی"
        name="last_name"
      />
    </div>

    <div class="input-group input-group-lg" style="margin-bottom: 30px; min-width: 40%;">
      <input
        type="password"
        id="inputPassword5"
        class="form-control"
        aria-describedby="passwordHelpBlock"
        placeholder="رمز عبور"
        name="password"
      />
    </div>

    <div class="mb-3">
      <input class="form-control" name="image" type="file" id="formFile">
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-secondary btn-lg">وارد شو!</button>
    </div>
  </form>


  <img class="img" src="/media/logo.png" height="450" style="flex: 2;" />
</div>
{% endblock %}
